{% extends "layout.html" %}
            {% block contenido %}

    <h1>A por B</h1>

    <form action="/resultado" method="post" >
        <div>
            <label for="">A</label>
            <input type="text" class="form-control" name="a" id="a" placeholder="A">    
        </div>
        <div class="mb-3">
            <label for="b" class="form-label">B</label>
            <input type="text" class="form-control" id="b" name="b" placeholder="B">
        </div>
        <button type="submit" class="btn btn-primary">Calcular distancia</button>
    </form>



    {% endblock %}
